/*
 * Author: Carlos Alvarez
 * URL: http://Alvarez.is
 *
 * Project Name: NYC Design
 * Version: 1.0
 * Date: 04-20-2014
 * URL:
 */


/* ==========================================================================
   Base Styles, Bootstrap Modifications & Fonts Import
   ========================================================================== */

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);


::-moz-selection {
    background: #f2c2c9;
    color: #a4003a;
    text-shadow: none;
}

::selection {
    background: #16a085;
    color: #a4003a;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.centered {
	text-align: center
}

.mt {
	margin-top: 80px;
}

.mb {
	margin-bottom: 80px;
}

/* ==========================================================================
   General styles
   ========================================================================== */


body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
    color: #4a4a4a;
}


.navbar-brand {
	font-weight: 700;
}

.navbar-default .navbar-brand {
	color: #fff;
}

.navbar-default {
	background-color: transparent;
	border-color: transparent;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #fff;
	background-color: transparent;
	border-bottom: 2px solid #fff;
}

.navbar-default .navbar-nav > li > a {
	color: #fff;
}

/* ==========================================================================
   Wrap Sections
   ========================================================================== */

#headerwrap {
	background: url(../../data/img1/typewriter.jpg) no-repeat center top;
	margin-top: -70px;
	padding-top: 250px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 650px;
	width: 100%;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap h1 {
	color:#ffffff;
	padding-top: 10px;
	padding-bottom: 20px;
	letter-spacing: 4px;
	font-size: 80px;
	font-weight: bold;
}

#headerwrap h4 {
	font-weight: 400;
	color: #ffffff
}

#social {
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #f2f2f2;
}

#social i {
  margin: 10px 0;
	font-size: 40px;
	color: #4a4a4a
}

#social i:hover {
	color: #1abc9c
}

#footerwrap {
	padding-top: 70px;
	padding-bottom: 50px;
	background-color: #2f2f2f;
}

#footerwrap p {
	color: #f2f2f2;
	margin-left: 10px;
}

#workwrap {
	background: url(../img/work.jpg) no-repeat center top;
	margin-top: -70px;
	padding-top: 250px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 650px;
	width: 100%;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#workwrap h1 {
	color:#ffffff;
	padding-top: 10px;
	padding-bottom: 20px;
	letter-spacing: 4px;
	font-size: 80px;
	font-weight: bold;
}

#workwrap h4 {
	font-weight: 400;
	color: #ffffff
}

#aboutwrap {
	background: url(../../data/img1/fairy-tale.png) no-repeat center top;
	margin-top: -70px;
	padding-top: 250px;
	text-align:center;
	background-attachment: relative;
	background-position: bottom center;
	min-height: 550px;
	width: 100%;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}




/* Gallery */
.gallery {
	margin-top: 30px;
}

.gallery img:hover {

}

::-webkit-scrollbar {
  display: none;
}
#headerwrap .container .row .col-lg-6 h2 {
  color: #fff;
  margin-top: 10px;
  margin-bottom: 20px;
}
#headerwrap .container .row .col-lg-6 h3 {
  font-size: 88px;
}
.nav_center {
  margin: 0 auto;
  width: 100%;
}
.navbar-default {
  background-color: #fff;
  opacity: 0.8;
}
.navbar-default .container .nav_center .navbar-header a {
  color: #4a4a4a;
}
.navbar-default .container .nav_center .navbar-collapse ul > li a {
  color: #4a4a4a;
}
.container .centered .gallery a img {
  cursor: default;
}
.container .centered .gallery .hide_box {
  display: none;
  position: absolute;
  top: 0;
  left: 15px;
  right: 15px;
  bottom: 0;
}
.container .centered .gallery .hide_box .cate {
  display: table;
  width: 100% ;
  height: 100%;
}
.container .centered .gallery .hide_box .cate .cap {
  display: table-cell;
  vertical-align: middle;
  background-color: #fff;
  height: 40%;
  text-align: center;
}
.container .centered .gallery .hide_box .cate .cap h3 {
  font-size: 40px;
  color: #4a4a4a;
}
.container .centered .gallery .hide_box .cate .cap p {
  font-size: 20px;
  margin-top: 10px;
  color: #999999;
}
.container .centered .gallery .hide_box .cate .cap span {
  font-size: 14px;
  display: block;
  margin: 10px 0;
  color: #999999;
}
.container .centered .gallery .hide_box .cate .cap .btn_box {
  margin: 10px 0 0;
  display: block;
  text-align: center;
}
.container .centered .gallery .hide_box .cate .cap .btn_box button:first-child ~ button {
  margin-left: 5px;
}
.container .centered .gallery .view_box {
  display: block;
}
.navbar-fixed-top {
  z-index: 3;
}
.wrap {
  display: none;
  position: fixed;
  top: 80px;
  bottom: 0;
  left: 0;
  right: 0;
  vertical-align: middle;
  text-align: center;
  z-index: 5;
}
.photo0 {
  display: none;
  position: relative;
  max-width: 1200px;
  width: 80%;
  height: 75%;
  border: 5px #ccc solid;
  border-radius: 10px;
  position: fixed;
  top: 50px;
  text-align: center;
  left: 50%;
  background-color: #fff;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}
.photo0 h3 {
  margin: 40px 0 30px;
  font-weight: bold;
  color: #4a4a4a;
}
.photo0 p {
  font-size: 14px;
  margin-bottom: 20px;
  color: #999999;
}
.photo0 .cf div {
  width: 20%;
  height: 100%;
  max-height: 420px;
  margin: 15px;
  display: inline-block;
  vertical-align: top;
}
.photo0 .cf div span {
  display: block;
  font-size: 16px;
  margin-bottom: 20px;
  color: #4a4a4a;
}
.photo0 .cf div .style01 {
  max-height: 100%;
  max-width: 100%;
  cursor: pointer;
}
.photo0 .cf div .style01:hover {
  opacity: 0.5;
}
.photo0 .cf div .style02 {
  max-height: 100%;
  max-width: 100%;
  cursor: pointer;
  display: block;
}
.photo0 .cf div .style02:hover {
  opacity: 0.5;
}
.photo0 .cf div span.span_margin {
  margin: 10px 0 ;
}
.photo0 .close01 {
  position: fixed;
  left: 50%;
  margin-left: -29px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.photo0 .btn-default {
  background-color: #16a085;
  color: #fff;
  border: 0 none;
}
.photo0 .jeil {
  display: none;
  overflow: auto;
  height: 100%;
}
.photo0 .toymaru {
  display: none;
  overflow: auto;
  height: 100%;
}
.stop-scrolling {
  height: 100%;
  overflow: hidden;
}
.introduce {
  text-align: center;
}
.introduce h1 {
  font-size: 40px;
  margin: 50px 0 20px;
}
.introduce h3 {
  font-size: 22px;
  margin: 40px 0 30px;
  color: #acacac;
}
.introduce pre {
  display: block;
  padding: 0px;
  margin: 0 0 0px;
  font-size: 15px;
  line-height: normal;
  color: #333;
  background-color: transparent;
  border: 0 none;
  word-wrap: break-word;
  white-space: pre-line;
}
.skill_title {
  text-align: center;
  margin: 0 0 20px 0;
}
.skill_title h3 {
  margin: 30px 0;
}
.skill_title div {
  display: table;
  margin: 0 auto;
}
.skill_title div div {
  display: table-cell;
}
.skill_title div div button {
  width: 20px;
  height: 20px;
  display: block;
  border: 0 none;
  box-shadow: 0;
  float: left;
  margin-right: 10px;
}
.skill_title div div span {
  display: block;
  float: left;
  margin-right: 10px;
}
.skill_title div div:last-child {
  margin-right: 0;
}
.skill_title div div .all_select {
  background-color: transparent;
  border: 1px gray solid;
  box-sizing: border-box;
}
.skill_title div div .experience {
  background-color: #d1cfcf;
}
.skill_title div div .basic {
  background-color: #adadad;
}
.skill_title div div .better {
  background-color: #484848;
}
.skill_title div div .perfect {
  background-color: #212121;
}
.box {
  width: 100%;
  height: auto;
  margin: 30px auto 30px;
}
.box .gage_box {
  position: relative;
  width: 46%;
  height: 40px;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 30px;
  padding: 10px;
}
.box .gage_box .gage {
  height: 20px;
  float: left;
  border-radius: 100px;
}
.box .gage_box .gage span {
  position: absolute;
  top: 50%;
  margin-top: -10px;
  right: 20px;
  font-weight: bold;
  font-size: 14px;
}
.connect_box {
  position: fixed;
  width: 240px;
  height: 60px;
  text-align: center;
  background-color: #fff;
  border: 1px #4d4d4d solid;
  border-radius: 7px;
  display: none;
}
.connect_box .connect {
  display: table-cell;
  vertical-align: middle;
}
.connect_box .connect span {
  display: block;
}
.gray50 {
  background-color: #adadad;
  color: #484848;
}
.gray100 {
  background-color: #212121;
  color: #484848;
}
.gray10 {
  background-color: #d1cfcf;
  color: #484848;
}
.gray70 {
  background-color: #484848;
  color: #484848;
}
.blue {
  background-color: #337ab7;
  color: #337ab7;
}
.flaticon-line-logo::before {
  margin: 0;
}
a {
  text-decoration: none;
}
@media screen and (max-width: 991px) {
  .box .gage_box {
    margin: 0;
    width: 49%;
  }
}
@media screen and (max-width: 545px) {
  .introduce {
    text-align: center;
  }
  .introduce h1 {
    font-size: 33px;
    margin: 40px 0 15px;
  }
  .introduce h3 {
    font-size: 20px;
    margin: 30px 0 20px;
    color: #acacac;
  }
  .introduce pre {
    text-align: justify;
  }
  .skill_title div {
    display: none;
  }
  .box .gage_box {
    width: 100%;
  }
  .photo0 h3 {
    margin: 20px 0 15px;
    font-size: 20px;
    font-weight: bold;
    color: #4a4a4a;
    padding: 0 5px;
    line-height: 37px;
  }
  .photo0 p {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #999999;
  }
  .photo0 .cf div span {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #4a4a4a;
  }
}
@media screen and (max-width: 502px) {
  #headerwrap .container .row .col-lg-6 h1 {
    font-size: 65px;
  }
}
@media screen and (max-width: 418px) {
  #headerwrap {
    padding-top: 210px;
  }
}
@media screen and (max-width: 320px) {
  #headerwrap {
    padding-top: 65%;
  }
  .container .centered .gallery .hide_box .cate .cap h3 {
    font-size: 20px;
  }
  .container .centered .gallery .hide_box .cate .cap p {
    font-size: 10px;
  }
  .container .centered .gallery .hide_box .cate .cap span {
    font-size: 10px;
  }
}
