@gallery : 15px;
@cateWidth : 15%;
@cateHeight : 13%;
@capHeight : 40%;
@All_font : #4a4a4a;
@font_color01 : #1b1b1b;
@font_color02 : #999999;
@gray10 : #d1cfcf;
@gray50 : #adadad;
@gray70 : #484848;
@gray100 : #212121;
@gage_font_color: #484848;


::-webkit-scrollbar {
    display: none;
}



#headerwrap{
  .container{
    .row{
      .col-lg-6{
        h2{color:#fff; margin-top: 10px; margin-bottom: 20px;}
        h3{font-size: 88px;}

      }
    }
  }
}



.nav_center {margin: 0 auto; width: 100%;}
.navbar-default {background-color: #fff; opacity: 0.8;
  .container{
    .nav_center{
      .navbar-header{
        a{color: @All_font;}
        } .navbar-collapse{ul>li{
          a{color: @All_font;}
          }
        }
      }
    }
}



.container{
  .centered{
    .gallery{
      a{
        img{cursor:default;
        }
      }

      .hide_box{
        display: none;
        position: absolute;
        top:0;
        left:@gallery ;
        right:@gallery ;
        bottom:0;
        .cate{

          display: table;
          width: 100% ;
          height: 100%;
          .cap {
            display: table-cell;
            vertical-align: middle;
            background-color: #fff;
            height: @capHeight;
            text-align: center;
            h3{font-size: 40px;color: @All_font;}
            p {font-size: 20px; margin-top: 10px; color: @font_color02;}
            span{font-size: 14px; display: block; margin: 10px 0; color: @font_color02;}

            .btn_box{
              margin: 10px 0 0;
              display: block;
              text-align: center;
              button:first-child ~ button{margin-left: 5px;}
            }
          }
        }
      }


      .view_box{display: block;}
    }
  }
}

.navbar-fixed-top {z-index: 3;}


// popup-effect

.wrap {display:none;position: fixed; top:80px; bottom: 0;left: 0; right: 0; vertical-align: middle; text-align: center; z-index: 5;  }
.photo0 {display: none; position: relative; max-width: 1200px; width: 80%; height: 75%; border: 5px #ccc solid; border-radius:10px; position: fixed; top:50px; text-align: center; left: 50%;
        background-color: #fff; overflow:hidden; -webkit-overflow-scrolling: touch;
  h3{margin:40px 0 30px; font-weight: bold; color: @All_font;}
  p{font-size: 14px; margin-bottom: 20px; color: #999999;}

  .cf {

    div {width:20%; height: 100%; max-height: 420px; margin: 15px; display: inline-block; vertical-align: top;
    span {display: block; font-size: 16px; margin-bottom: 20px; color: @All_font;}
    .style01 {max-height: 100%; max-width: 100%; cursor: pointer;
      &:hover{opacity: 0.5;}
      }
    .style02 {max-height: 100%; max-width: 100%; cursor: pointer; display:block;

        &:hover{opacity: 0.5;}
    }
    span.span_margin{margin: 10px 0 ;}

    }
  }
  .close01 {position: fixed; left:50%; margin-left: -29px; -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;}
  .btn-default{background-color: #16a085; color: #fff; border:0 none;}
}

.photo0 .jeil {display: none; overflow:auto; height: 100%;}
.photo0 .toymaru {display: none; overflow:auto;height: 100%;}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.introduce{text-align: center;
  h1{font-size: 40px; margin: 50px 0 20px;}
  h3{font-size: 22px; margin: 40px 0 30px; color: #acacac;}



  pre{
    display: block;
    padding: 0px;
    margin: 0 0 0px;
    font-size: 15px;
    line-height: normal;
    color: #333;
    background-color: transparent;
    border:0 none;
    word-wrap: break-word;
    white-space: pre-line;
  }
}


.skill_title{text-align: center;  margin: 0 0 20px 0;

  h3 { margin: 30px 0;}

  div{display: table; margin: 0 auto;
      div{display:table-cell;
      button{width: 20px;height: 20px; display: block; border: 0 none; box-shadow: 0; float:left; margin-right: 10px;}
      span {display: block; float:left; margin-right: 10px;}
      &:last-child{margin-right: 0;}
      .all_select {background-color: transparent; border: 1px gray solid; box-sizing: border-box;}
      .experience {background-color: @gray10;}
      .basic {background-color: @gray50;}
      .better {background-color: @gray70;}
      .perfect {background-color: @gray100;}

    }
  }
}







.box{
  width: 100%; height: auto; margin: 30px auto 30px;
  .gage_box{
    position: relative; width: 46%; height: 40px; display:inline-block; -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; margin-right: 30px; padding:10px;
    .gage{
      height: 20px; float:left; border-radius: 100px;
      span {position: absolute; top: 50%; margin-top: -10px; right:20px; font-weight: bold; font-size: 14px;}


    }
  }
}


.connect_box{position: fixed; width: 240px;height: 60px; text-align: center; background-color: #fff; border:1px #4d4d4d solid; border-radius:7px; display: none;
  .connect{display: table-cell; vertical-align: middle;
            span{display:block;}

  }
}





.gray50 {background-color: @gray50; color: @gage_font_color;}
.gray100 {background-color: @gray100; color: @gage_font_color;}
.gray10{background-color: @gray10; color: @gage_font_color;}
.gray70 {background-color: @gray70; color: @gage_font_color;}
.blue {background-color: #337ab7; color: #337ab7;}
.flaticon-line-logo::before{margin: 0;}




a{text-decoration: none;}



@media screen and (max-width:991px){


  .box{

    .gage_box{
      margin: 0;
      width: 49%;

    }

  }
}

@media screen and (max-width: 545px){


  .introduce{text-align: center;
    h1{font-size: 33px; margin: 40px 0 15px;}
    h3{font-size: 20px; margin: 30px 0 20px; color: #acacac;}



    pre{
      text-align:justify;
    }
  }


  .skill_title{

    div{
      display: none;
    }
  }


  .box{

    .gage_box{
      width: 100%;

  }
}




  .photo0 {
    h3{margin:20px 0 15px; font-size: 20px; font-weight: bold; color: @All_font; padding:0 5px; line-height: 37px;}
    p{font-size: 15px; font-weight: bold; margin-bottom: 10px; color: #999999;}

    .cf {

      div {
      span {font-size: 12px; font-weight: bold; margin-bottom: 20px; color: @All_font;}

      }
    }
  }



}
@media screen and (max-width: 502px){
  #headerwrap{
    .container{
      .row{
        .col-lg-6{

          h1{font-size: 65px;}

        }
      }
    }
  }
}
@media screen and (max-width: 418px){

#headerwrap{padding-top:210px;}
}
@media screen and (max-width: 320px){
#headerwrap{padding-top:65%;}
  .container{
    .centered{
      .gallery{
          .hide_box{

          .cate{

            .cap {

              h3{font-size: 20px;}
              p {font-size: 10px;}
              span{font-size: 10px;}

            }
          }
        }

      }
    }
  }

}
